@property --gradient1-color {
    syntax: '<color>';
    inherits: false;
    initial-value: dodgerblue;
  }
  

@property --gradient2-color {
    syntax: '<color>';
    inherits: false;
    initial-value: midnightblue;
}  

:root {
    --bg-color: #1b1b1b;
    --font-color: white;
    --radius: 14px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 0 auto;
}

h3 {
    margin: 0;
}

main {
    padding: 0px 15px 0px 15px;
    margin-top: 60px;
    height: 100vh;
}

header {
    backdrop-filter: blur(10px);
    background-color: rgba(66, 66, 66, 0.7);
    padding: 13px;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-title {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.center {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */
    display: flex;
    justify-content: center;
}

.gradient {
    border: none;
    color: white;
    margin: 1em;
    background: linear-gradient(to bottom right, var(--gradient1-color), var(--gradient2-color));
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.5em;
    transition: --gradient1-color 0.3s, --gradient2-color 0.3s;
}

.gradient:hover {
    --gradient1-color: indigo;
    --gradient2-color: tomato;
    background: linear-gradient(to bottom left, var(--gradient1-color), var(--gradient2-color));
    cursor: pointer;
}
